* {
  box-sizing: border-box; /* this is a CSS reset!*/
  margin: 0;
  padding: 0;
}

:root{
  --color-bg: rgba(254, 206, 146, 0.1725);
  --color-text-heading: #000000;
  --color-text-body: #F2EFDC;
  --color-button-bg: rgb(50,64,44);
  --color-text-box-bg: rgb(140, 62, 17);
  --font-heading: "Agia Valley";
  --font-body: "Arcon";
  --font-size-body: 1rem;
  --font-size-heading: 2rem;
  --font-size-logo: 1.5rem;
  --font-size-button: 1rem;
  --border-radius: 25px;
  --border-ui: 1px solid black;
  --color-header-gradient-top:  rgb(140, 62, 17);
  --color-header-gradient-bottom: rgb(242, 239, 220);
  
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-body);
    color: var(--color-text-body);
    font-size: var(--font-size-body);
}

h1 {
    font-family: var(--font-heading);
    color: var(--color-text-heading);
    font-size: var(--font-size-heading);
}

.container {
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
}

.button {
  font-size: var(--font-size-button);
  font-family: var(--font-body);
  color: var(--color-text-body);
  padding: 0.75rem 1.25rem;
  background-color: var(--color-button-bg);
  border-radius: var(--border-radius);
  border: var(--border-ui);
}

.text-box{
  font-size: 0.9rem;
  font-family: var(--font-body);
  color: var(--color-text-body);
  border-radius: var(--border-radius);
  border: var(--border-ui);
  padding: 0.75rem 1.25rem;
  background-color: var(--color-text-box-bg);
}

.header {
  background-image: linear-gradient(
    to bottom,
    var(--color-header-gradient-top),
    var(--color-header-gradient-bottom)
  );
  padding: 1.5rem 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-content nav {
  display: flex;
  gap: 0.75rem;
}
.header-content h1 {
  font-size: var(--font-size-logo);
  line-height: 1;
  margin: 0;
}
