* {
  box-sizing: border-box; /* this is a CSS reset!*/
  margin: 0;
  padding: 0;
}

:root{
  --color-bg: rgba(254, 206, 146, 0.1725);
  --color-text-heading: #000000;
  --color-text-body: #F2EFDC;
  --font-heading: "Agia Valley";
  --font-body: "Arcon";
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-body);
    color: var(--color-text-body);
}

h1, h2 {
    font-family: var(--font-heading);
    color: var(--color-text-heading);
}
